@use "../../sass/variables" as *;

.nav-login {
  background-color: #2d2d2d;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 100px;
  margin-left: 50px;
}

.login-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.login-title {
  font-weight: 500;
  font-size: 30px;
}

.login-subtitle {
  font-weight: 500;
  font-size: 22px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.label-form {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
}

.input-field {
  margin-bottom: 25px;
  width: 490px;
  height: 40px;
  border-radius: 6px;
  font-size: 16px;
  padding-left: 10px;
  border: 1px solid #7a7a7a;
}

.btn-login {
  background-color: #0c70f2;
  color: #fff;
  width: 500px;
  height: 50px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 800;
  font-size: 18px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.btn-login:hover {
  background-color: #247ef3;
}

@media (max-width: 800px) {
  .nav-login {
    width: 100%;
    height: 70px;
    justify-content: center;
  }

  .nav-logo {
    width: 70px;
    margin-left: 0px;
  }

  .login-info {
    margin-top: 50px;
    width: 100%;
    align-items: center;
  }

  .login-title {
    font-size: 25px;
    margin: 0 15px;
    text-align: center;
  }

  .login-subtitle {
    font-size: 18px;
    margin-top: 10px;
  }

  .login-form {
    justify-content: center;
  }

  .label-form {
    text-align: left;
    font-size: 14px;
  }

  .input-field {
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-login {
    width: 300px;
    font-size: 16px;
  }
}